* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.App {
    width: 100%;
}
.text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    min-width: 400px;
}

.flex_row {
    display: flex;
    flex-direction: row;
}
.App .column {
    width: 30%;
    /* position: absolute; */
    /* width: 318px; */
    /* height: 720px; */
    /* left: 356px;
    top: 210px; */

    background: #f5f9f9;
    border-radius: 15px;
    margin: 1%;
}

.droppable-col {
    width: 100%;
    /* background-color: gray; */
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 10px;
    /* background-color: gray; */
    border: 1px solid white;
    padding: 5px;

    width: 281.78px;
    height: 100.07px;

    background: #ffffffec;
    box-shadow: 0px 0px 28px rgba(72, 174, 174, 0.07);
    border-radius: 7px;
}

.item.dragging {
    background-color: coral;
}
